/* Safelink Theme CSS */

.safelink {
    text-align: center;
    background: var(--notifU);
    border-radius: 25px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(24, 28, 71, .1);
}

.sec-btn {
    border-radius: 100px;
    font-size: 12px;
    color: #fff !important;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 13px 39px !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .14);
    text-transform: uppercase;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, .2);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.sec-anim {
    background: #2b5380;
    background: -moz-linear-gradient(-45deg, #1d497c 0, #313397 50%, #4e39c4 51%, #4633d7 71%, #5d60c8 100%);
    background: -webkit-linear-gradient(-45deg, #1d497c 0, #313397 50%, #4e39c4 51%, #4633d7 71%, #5d60c8 100%);
    background: linear-gradient(135deg, #2d6aaf 0, #3032a5 50%, #4e39c4 51%, #4633d7 71%, #1f2393 100%);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0 31%
    }

    50% {
        background-position: 100% 70%
    }

    100% {
        background-position: 0 31%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0 31%
    }

    50% {
        background-position: 100% 70%
    }

    100% {
        background-position: 0 31%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0 31%
    }

    50% {
        background-position: 100% 70%
    }

    100% {
        background-position: 0 31%
    }
}

.disabled {
    background: #5c86b5;
}

/* Safelink Theme Dark Mode CSS */

.drK .safelink{
    background: #2a2c2f;
    color: var(--darkTa);
}

.drK .popup{
    background: #2a2c2f;
    color: var(--darkTa);
    border-radius: 8px;
}

/* Generate Page CSS */

.safelink-container {
    display: flex;
    color: #263745;
    background-color: #fff;
    border: 0 solid transparent;
    transition: box-shadow .2s ease-out;
    position: relative;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none;
    flex-wrap: wrap;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: #e8e8e8;
    padding: 15px 2px 15px 2px;
    flex-direction: column;
    border-radius: 15px;
}

.safelink-input {
    position: relative;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.safelink-input-url {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 80px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    background-color: inherit;
}

.safelink-input-btn {
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border: 0;
    background: #1B3358;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
    font-weight: bold;
}

#safelink-svg {
    width: 33px;
    height: 33px;
}

.safelink-output {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 25px;
    flex-direction: column;
}

.safelink-output-url {
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 7px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 20px;
    background-color: inherit;
}

.safelink-output-btn {
    cursor: pointer;
    border: 0;
    background: #1B3358;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
    width: 120px;
    height: 40px;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

@media (max-width: 550px) {

    .safelink-input {
        width: 99%;
    }

}

/* Generate Page Dark Mode CSS */

.drK .safelink-container{
    background-color: #2a2c2f;
    color: #ccc4c4;
    border-color: #333333;
}

.drK .safelink-container #safelink-svg circle {
    fill: #8775f5;
}

/* --- End --- */
